beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
cmake==3.22.4
colorama==0.4.4
cycler==0.11.0
dlib==19.23.1
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask==2.1.2
Flask-Cors==3.0.10
fonttools==4.33.3
gunicorn==20.1.0
html5lib==1.1
idna==3.3
importlib-metadata==4.11.3
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.2
nltk==3.7
numpy==1.21.6
opencv-python==4.5.5.64
packaging==21.3
pandas==1.1.5
Pillow==9.1.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
regex==2022.4.24
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
six==1.16.0
soupsieve==2.3.2.post1
threadpoolctl==3.1.0
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
webencodings==0.5.1
Werkzeug==2.1.2
wordcloud==1.8.1
zipp==3.8.0
